<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.memory.pzp.base.mapper.SystemdictionaryitemMapper" >
  <resultMap id="BaseResultMap" type="com.memory.pzp.base.domain.SystemdictionaryItem" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="parentId" property="parentId" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="sequence" property="sequence" jdbcType="TINYINT" />
  </resultMap>
  <insert id="insert" parameterType="com.memory.pzp.base.domain.SystemdictionaryItem" useGeneratedKeys="true" keyProperty="id" >
    insert into systemdictionaryitem (parentId, title, sequence
      )
    values (#{parentId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{sequence,jdbcType=TINYINT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.memory.pzp.base.domain.SystemdictionaryItem" >
    update systemdictionaryitem
    set parentId = #{parentId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      sequence = #{sequence,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, parentId, title, sequence
    from systemdictionaryitem
    where id = #{id,jdbcType=BIGINT}
  </select>

  <sql id="base_where">
    <where>
      <if test="keyword!=null">
        AND  title = catcont(LIKE('%',#{keyword},'%'))
      </if>
      <if test="parentId!=null">
        AND parentId=#{parentId}
      </if>
    </where>
  </sql>

  <select id="count" resultType="java.lang.Integer">
    SELECT count(id)
    FROM systemdictionaryitem
    <include refid="base_where"/>
  </select>
  <select id="listData" resultType="com.memory.pzp.base.domain.SystemdictionaryItem">
    SELECT id, parentId, title, sequence
    FROM systemdictionaryitem
    <include refid="base_where"/>
    LIMIT #{start},#{pageSize}
  </select>
    <select id="getItemsBySdId" resultType="com.memory.pzp.base.domain.SystemdictionaryItem">
      SELECT id,title
      FROM systemdictionaryitem
      WHERE parentId = #{sdId}
    </select>
</mapper>